<div class="container">
  <h1 class="d-flex justify-content-center">Eye Clinic</h1>
  <h3 class="d-flex justify-content-center">Toranto</h3>
</div> 
  <!-- <nav>
  <a routerLink="home" routerLinkActive="active">Home</a>
  <a routerLink="services" routerLinkActive="active">Services</a>
  <a routerLink="patientdetails" routerLinkActive="active">Patient Details</a>
  <a routerLink="ourteam" routerLinkActive="active">Our Team</a>
  <a routerLink="contactus" routerLinkActive="active">Contact Us</a>
  </nav> -->
  <nav class="navbar navbar-expand-sn bg-light navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button routerLink="home"
      class="m-1 btn btn-light btn-outline-primary" Button>Home</button>
    </li>
    <li class="nav-item">
      <button routerLink="Services"
      class="m-1 btn btn-light btn-outline-primary" Button>services</button>
    </li>
    <li class="nav-item">
      <button routerLink="patientdetails"
      class="m-1 btn btn-light btn-outline-primary" Button>Patient Details</button>
    </li>
    <li class="nav-item">
      <button routerLink="ourteam"
      class="m-1 btn btn-light btn-outline-primary" Button>Our Team</button>
    </li>
    <li class="nav-item">
      <button routerLink="contactus"
      class="m-1 btn btn-light btn-outline-primary" Button>Contact Us</button>
    </li>
  </ul>

  </nav>
<router-outlet></router-outlet>

